*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fonts-inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
body{
    overflow-x: hidden;
    max-width: 1600px;
}

/* share-style */
.header-color{
    background-color: #1A0B2E;
}

.gradient-color{
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.display-flex{
    display: flex;
}
.primary-p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    opacity: 60%;
}
.color-white{
    color: #FFFFFF;
}
.primary-font-size{
    font-size:1rem;

}
.primary-button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);
    color: #FFFFFF;
}
button:hover{
    background: linear-gradient(to right,#9100F8, #F7E93F, #FB09B4);


}
.color-green{
    color: #00FF88;
}
/* main-style */

.navbar{
   justify-content: space-between;
   align-items: center;
   padding:30px 0;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto;
}
.brand{
    /* color:#FFFFFF; */
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
   
 
}
.nav-link{
    text-decoration: none;
     /* color: #FFFFFF; */
     font-weight: 600;
}
.bar{
      display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* banner-style */
.banner{
    background-image:url("../assets/hero-bg.png");
    /* max-width: 1600px; */
    width: 100%;
    /* height: 760px; */
    min-height: 100vh;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 101px 625px ;
    
}
.banner{
display: flex;
justify-content: center;

align-items: center;
text-align: center;

}
.banner-container{
    max-width: 550px;
    /* margin: 0 auto; */
    text-align: center;
    /* margin-bottom: 50px; */
    /* text-align: center; */
    

}
.microphone-container{
     position: relative;
  width: 350px;
  height: 350px;
/* margin-top: 101px; */
margin: 0 auto;
}
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 116px;
  height: 175px;
}
.banner-title{
    font-weight: 900;
    font-size: 3.75rem;
}
.banner-description {
    margin-top: 8px;
    font-size: 16px;
  /* width: 550px; */
  
}
.banner-image{
    width: 100%;
}
.button-banner{
    justify-content:center;
    gap: 8px;
    margin-top: 24px;
}
.subs-btn{
    width: 8rem;
    height: 2.75rem;
    background-color: transparent;
    /* border: none; */
    border: 1px solid #00FF88;
   padding: 12px 16px;
    border-radius: 30px;
}


@media screen and (max-width:576px) {
    body{
        max-width:440px ;
    }

    .navbar {
    max-width: 400px;
   
}
.brand {
    /* color: #FFFFFF; */
    font-weight: 700;
    font-size: 1.8rem;
}  
.nav-links,.btn{
    display: none;
}
.bar{
    display: block;
}
.banner{
min-height: 60vh;
    padding: 40px 20px;
    background-position: center top;
   
}
.banner-container{
    max-width: 400px;
}

}