*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fonts-inter{
  font-family: "Inter", sans-serif;
  font-style: normal;
}
body{
    overflow-x: hidden;
    max-width: 1600px;
}

/* share-style */
.header-color{
    background-color: #1A0B2E;
}
.padding-auto{
    padding: auto;
}
.gradient-color{
  background: linear-gradient(90deg, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.display-flex{
    display: flex;
}
.primary-p{
    font-size: 1rem;
    line-height: 1.5rem;
    color: #ffffff;
    opacity: 60%;

    
    /* margin: 0; */
}
.color-white{
    color: #FFFFFF;
}
.primary-font-size{
    font-size:1rem;

}
.primary-button{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #F7E93F, #FB09B4,#9100F8);
    color: #FFFFFF;
}
button:hover{
    background: linear-gradient(to right,#9100F8, #F7E93F, #FB09B4);


}
.color-green{
    color: #00FF88;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(-15px);
  }
}

.primary-transition{
   
     cursor: pointer;
  transition: transform 0.2s ease , box-shadow 0.2s ease;
    animation: fadeUp 2s infinite ease-out 2s;
}
.primary-transition:hover{
         transform: scale(1);
  box-shadow: 0 0 3px #00ffa3;
        }

.tech-border{
     background-color: rgba(53, 17, 101, 0.4);
    border-radius: 2.5rem;

}
/* main-style */

.navbar{
   justify-content: space-between;
   align-items: center;
   padding:30px 0;
}
.navbar{
    max-width: 1200px;
    margin: 0 auto;
}
.brand{
    /* color:#FFFFFF; */
    font-weight: 700;
    font-size: 2.8rem;
}
.nav-item{
    list-style: none;
    margin-right: 32px;
   
 
}
.nav-link{
    text-decoration: none;
     /* color: #FFFFFF; */
     font-weight: 600;
}
.bar{
      display: none;
  font-size: 26px;
  color: white;
  cursor: pointer;
}

/* banner-style */
.banner{
    background-image:url("../assets/hero-bg.png");
    /* max-width: 1600px; */
    width: 100%;
    /* height: 760px; */
    min-height: 100vh;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding: 101px 625px ;
    
}
.banner{
display: flex;
justify-content: center;

align-items: center;
text-align: center;

}
.banner-container{
    max-width: 550px;
    /* margin: 0 auto; */
    text-align: center;
    /* margin-bottom: 50px; */
    /* text-align: center; */
    

}
.microphone-container{
     position: relative;
  width: 350px;
  height: 350px;
/* margin-top: 101px; */
margin: 0 auto;
}
.bg-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 116px;
  height: 175px;
}
.banner-title{
    font-weight: 900;
    font-size: 3.75rem;
}
.banner-description {
    margin-top: 8px;
    font-size: 16px;
  /* width: 550px; */
  
}
.banner-image{
    width: 100%;
}
.button-banner{
    justify-content:center;
    gap: 8px;
    margin-top: 24px;
}
.subs-btn{
    width: 8rem;
    height: 2.75rem;
    background-color: transparent;
    /* border: none; */
    border: 1px solid #00FF88;
   padding: 12px 16px;
    border-radius: 30px;
}
.ch-button{
 position: absolute;
  top: 2.5rem;    
  right: 0;
  transform: translateX(20%) translateY(-35%);
  z-index: 30;

}
.ch-button-details{
     background-color: #00ffa3;
  color: #0a0015; 
  font-size: 11px;
  font-weight: 900;           
padding:0.375rem 1.3rem;
  border-radius: 9999px; 
  box-shadow: 0px 0px 3px #00ffa3; 
  letter-spacing: 0.1em;
}


/* about section */
.about-section{
    height: 646px;
    padding-top: 50px;
}
.about-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.about-title{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.about-des{
  margin-bottom: 5rem;  
}
.line{
    opacity: 10%;
  margin-bottom: 5rem;  

}

.about-rating{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 5rem;

    /* justify-content: start; */

}
.rating{
    margin-bottom: 1rem;
}

.rating-des{
    font-size: 1rem;
    line-height: 1.25rem;
    opacity: 80%;
    color: #FFFFFF;
}


/* footer section style */

.footer{
     background-image:url("../assets/footer-bg.png");
    /* max-width: 1600px; */
    width: 100%;
    /* height: 760px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 412px;
   height: 52vh;
  padding-top:120px;
}
.footer-container{
    /* margin-top:120px; */
    max-width: 544px;
    margin: 0 auto;
    text-align: center;
}
.footer-title{
    margin-bottom: 2rem;
}
.footer-info{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2.5rem;
    justify-content: space-between;
    margin-bottom: 2rem;
    white-space: nowrap; 
}
.footer-link{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

}
/* techwave-section */


.techwave-section{
    background-color: #230E3D;
    padding: 120px 200px;
}
.techwave-title{
    text-align: center;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 2.5rem;
}
.tachwave-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 1.9rem;
   
}

.tech-premium{
    
    /* border: 1px solid yellow; */
    grid-row: span 2;
    grid-column: span 2;
    padding:9.5rem 2.5rem;

}
.tech-mobile{
    /* border: 1px solid yellow; */
    grid-column: span 3;
    
    padding: 2.5rem;
}
.tech-global{
    /* border: 1px solid yellow; */
        grid-column: span 3;

    padding: 2.5rem;

}
.tech-exclusive{
    /* border: 1px solid yellow; */
    grid-column: span 3;
    padding: 2.5rem;

}
.tech-rich{
    grid-column: span 2;
    /* border: 1px solid yellow; */
    
    padding: 2.5rem;
   
}
/* .tech-card{
    border: 1px solid seagreen;

} */
.tech-title{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.tech-image{
    height: 3.75rem;
    width:3.75rem;
    margin-bottom: 1rem;
}
/* .tech-im{
    font-size: large;
     height: 3.75rem;
    width:3.75rem;
    color: #FFFFFF;
    margin-bottom: 1rem;
} */
 .tech-image i{
    font-size: 50px;
    /* margin-right: 8px; */
   
 } 


@media screen and (max-width:576px) {
    body{
        max-width:440px ;
    }

    .navbar {
    max-width: 400px;
   
}
.brand {
    /* color: #FFFFFF; */
    font-weight: 700;
    font-size: 1.8rem;
}  
.nav-links,.btn{
    display: none;
}
.bar{
    display: block;
}
.banner{
min-height: 60vh;
    padding: 40px 20px;
    background-position: center top;
    /* background-size: contain; */
   
}
.banner-container{
    max-width: 400px;
}
 /* about-section */
 .about-title {
    font-size: 2rem;
    
}

.line,.about-des{
    margin-bottom:2.5rem ;
}
.about-rating{
   grid-template-columns:repeat(2,1fr);
   gap: 2.5rem;
}

/* techwave-section */
.techwave-section{
    padding:2.5rem 1.25rem;
}
.techwave-title{
    font-size: .9rem;   
}
.tachwave-grid{
    grid-template-columns:repeat(1,1fr);

}
.tech-premium,.tech-rich{
  grid-column: span 3;

  grid-row:span 1;
    padding: 2.5rem;
}
/* footer-section */
/* .footer-container{
    width: 100%;
} */
.footer-info{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

}